langgraph
fastapi
uvicorn
groq
langchain
langchain-community
python-dotenv
python-multipart
PyPDF2
nltk
jinja2
sentence-transformers
langchain-pinecone
pinecone-notebooks
pinecone
langchain-huggingface
langchain_experimental
alt-profanity-check
huggingface_hub
# guardrails-ai
# openai>=1.30.1