langgraph
fastapi
uvicorn
groq
langchain
langchain-community
python-dotenv
python-multipart
PyPDF2
nltk
jinja2
sentence-transformers
langchain-pinecone
pinecone-notebooks
pinecone
langchain-huggingface
semantic-split
langchain_experimental
guardrails-ai
gunicorn==19.7.1